html{
    height: 100%;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

body {
    margin: 0;
    font-family: Myriad Pro, sans-serif;
    font-weight: normal;
    font-size: 15px;
    color: #000;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

h4 {
    font-size: 17px;
    color: #1c1c1c;
}


.btn {
    font-size: 20px;
    color: #fff;
    background-color: #2f1ce4;
    padding: 20px 40px 15px 40px;
    width: 310px;
    border: 0;
    border-radius: 4px;
    transition: 1s;
}

.btn:hover {
    transform: scale(1.1, 1.1);
}

.btn-content {
    border-bottom: 1px solid #fff;
}

.container {
    width: 100%;
    border-top: 1px solid #e4e4e4;
}

.section {
    max-width: 1170px;
    margin: 0 auto;
}

.menu {
    height: 120px;
    display: flex;
    align-items: center;
}

.menu-ul {
    margin: 0;
    padding: 4px;
}

.menu-li {
    display: inline;
    margin-right: 55px;
}

.menu-li:first-child {
    margin-left: 65px;
}

.main-content {
    background: url(../img/Student.png) 90% -20% no-repeat, linear-gradient(to left, rgba(255, 255, 0, 0.9), rgba(255, 255, 255, 0.9));
    background-size: 35%, 100%;
}

.main-head {
    margin: 0 0 28px 0;
    padding-top: 135px;
    font-size: 40px;
    font-weight: normal;
}

.main-text {
    line-height: 25px;
    padding-bottom: 90px;
}

.contacts-head {
    margin: 40px 0 65px 0;
    font-size: 36px;
    font-weight: normal;
}

.ul-info {
    display: flex;
    padding: 0;
    justify-content: space-around;
    align-content: flex-start;
}

.li-info {
    font-size: 14px;

}

.li-info:not(:first-child) {
    margin-left: 180px;
}

.footer-content {
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-copyright {
    float: left;
}

.footer-content-ul {
    display: flex;
    padding: 0;
    align-content: flex-start;
}

.footer-content-li:not(:first-child) {
    margin-left: 15px;
}